<%= @serie.name %>
<%= @serie.description %>

<% if @users_serie != nil && @users_serie.length > 0 %>
    <div>Your score: <%= @users_serie.first.score %></div>
    <%= link_to "Details", users_series_path(:action => "show", :id => @users_serie.first.id)%>
<% else %>
     <%= link_to "Play this series!", art_path(:action => "show", :id => @arts[0].id, :serie => @serie.id) %>
<% end %>

